.app-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.left-column,
.middle-column,
.right-column {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1rem;
}

.movie-details-title,
.movie-details-year {
  margin: 0;
}

.movie-details-year {
  font-weight: normal;
  color: gray;
  margin-top: 4px;
}